@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Anton&subset=latin,latin-ext);
@import url('../fontello/css/step-icons.css');
.font-primary{
	font-family: 'Source Sans Pro', sans-serif;
}
.font-header{
	font-family: 'Anton', sans-serif;
}
.font-icon{
	font-family: 'step-icons';
}
