
.icon-home:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-lock-open-alt:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-plus-circle:before { content: '\e806'; } /* '' */
.icon-truck:before { content: '\e807'; } /* '' */
.icon-left-circled:before { content: '\e808'; } /* '' */
.icon-right-circled:before { content: '\e809'; } /* '' */
.icon-angle-left:before { content: '\e80a'; } /* '' */
.icon-angle-right:before { content: '\e80b'; } /* '' */
.icon-angle-up:before { content: '\e80c'; } /* '' */
.icon-angle-down:before { content: '\e80d'; } /* '' */
.icon-up-circled:before { content: '\e80e'; } /* '' */
.icon-down-circled:before { content: '\e80f'; } /* '' */
.icon-phone:before { content: '\e810'; } /* '' */
.icon-mail-alt:before { content: '\e811'; } /* '' */
.icon-facebook:before { content: '\e812'; } /* '' */
.icon-zoom-in:before { content: '\e813'; } /* '' */